/* html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
} */

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Center vertically */
  align-items: center; /* Center horizontally */
  background-color:#01040d; /* Optional: Add a background color */
  overflow: hidden; /* Prevent scrolling */
  width: 100%;
  height: 100vh;
}

.title {
  text-align: center;
  color:aliceblue;
  font-size: 32px;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
   /* Restrict the maximum width of the carousel */
   /* Maintain aspect ratio */
}

