.carousel-container {
/* The width of the carousel is set to 90% of the viewport */
  margin: 0 auto; /* Centers the carousel horizontally */
  width: 90%; /* Adjust width as needed */
  height: 100vh; 
}

.slick-dots li button:before {
  font-size: 12px; /* The size of the dots */
  color: white; /* The color of the dots */
}

.slick-dots li.slick-active button:before {
  opacity: 1; /* Ensures the active dot is fully visible */
  color: white; /* Keeps the active dot white */
}

.slick-prev:before,
.slick-next:before {
  color: white; /* The color of the previous and next arrows */
}
.slick-slide,.slick-track, .slick-initialized, .slick-list,
.slick-active, .slick-current{
  height: 100%;
}
.images {
  width: 100px; /* Start smaller */
  height: auto;
  margin: 0 auto; /* Centers the image within its container */
  animation: enlargeRotate 3s ease-in-out forwards;
}

@keyframes enlargeRotate {
  0% {
    transform: scale(1.2) rotate(0deg); /* Start smaller and with no rotation */
  }
  50% {
    transform: scale(3) rotate(180deg); /* Enlarge and rotate halfway */
  }
  100% {
    transform: scale(1.2) rotate(360deg); /* Shrink back and complete rotation */
  }
}
